<form method="POST">
    <div class="card">
        <h4 class="card-header">
            New Category
        </h4>
        <div class="card-body">
            <div class="form-group">
                <label for="CatName">Category</label>
                <input type="text" class="form-control" id="CatName" name="CatName" autofocus>
            </div>
        </div>
        <div class="card-footer text-muted">
            <a class="btn btn-success" href="/admin/categories" role="button">
                <i class="fa fa-backward" aria-hidden="true"></i>
                List
            </a>
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-check" aria-hidden="true"></i>
                Save
            </button>
        </div>
    </div>
</form>