{{#section 'css'}}
    <style>
        body{
            height: 100vh;
            justify-content: center;
            align-items: center;
            padding: 10px;
            background: linear-gradient(135deg, #71b7e6, #39d48c);
            font-family: "Pacifico", sans-serif;
            font-size: 18px;
        }
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .container{
            max-width: 700px;
            width: 100%;
            background: #fff;
            padding: 25px 30px;
            border-radius: 5px;
            box-shadow: 0 5px 10px rgba(0,0,0,0.15);
        }
        .container .title{
            font-size: 25px;
            font-weight: 500;
            position: relative;
        }
        .container .title::before{
            content: '';
            postion: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 30px;
            border-radius: 5px;
            background: linear-gradient(135deg, #71b7e6, #39d48c);
        }
        .container form .user-details{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 20px 0 12px 0;
        }
        form .user-details .input-box{
            margin-bottom: 15px;
            width: calc(90%);
        }
        .user-details .input-box span.details{
            display: block;
            font-weight: 500;
            margin-bottom: 5px;
        }
        .user-details .input-box input{
            height: 45px;
            width: 100%;
            outline: none;
            padding-left: 15px;
            font-size: 16px;
            border-bottom-width: 2px;
            transition: all 0.3s ease;
            border-radius: 10px;
            color: #0b409c;
        }
        .user-details .input-box input:focus,
        .user-details .input-box input:valid{
            border-color: #39d48c;
        }
        form .button{
            height: 45px;
            margin: 45px 0;

        }
        form .button input{
            height: 100%;
            width: 100%;
            outline: none;
            color: #fff;
            border: none;
            font-size: 18px;
            font-weight: 500;
            border-radius: 5px;
            letter-spacing: 1px;
            background: linear-gradient(135deg, #71b7e6, #39d48c);
        }
        form .button input:hover{
            background: linear-gradient(-135deg, #71b7e6, #39d48c);
        }
        @media (max-width: 584px){
            .container{
                max-width: 100%;
            }
            form .user-details .input-box{
                margin-bottom: 15px;
                width: 100%;
            }
            .container form .user-details{
                max-height: 300px;
                overflow-y: scroll;
            }
            .user-details::-webkit-scrollbar{
                width: 0;
            }
        }
        @media only screen and (max-width: 768px){
            .padding{
                padding: 18px;
            }
        }
    </style>
{{/section}}
<div class="container-fluid">
    <div class="container" >
        {{#if err_message}}
            <div class="alert alert-warning alert-dismissible fade show" role="alert" style="text-align: center">
                <strong>Lỗi: </strong> {{err_message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {{/if}}
        <div>
            <a class="nav-link" href="/account/profile"><h5>Profile</h5> <span class="sr-only">(current)</span></a>
        </div>
        <div class="title"style="text-align: center; background: -webkit-linear-gradient(#71b7e6, #39d48c);
  -webkit-background-clip: text; -webkit-text-fill-color: transparent; padding-bottom: 5px">Thay đổi mật khẩu</div>
        <div class="row justify-content-center">
            <form method="POST" id="ChangPassword">
                <div class="user-details">
                    <div class="card padding" style="align-items: center; border-color: #0b409c; border-radius: 10px;">
                        <div class="input-box">
                            <i class="fa fa-lock"></i>
                            <input type="password" placeholder="Mật khẩu cũ" name="oldPassword" id = "oldPassword" required>
                        </div>
                        <div class="input-box">
                            <i class="fa fa-lock"></i>
                            <input type="password" placeholder="Mật khẩu mới" name="newPassword" id="newPassword">
                        </div>
                        <div class="input-box">
                            <i class="fa fa-lock"></i>
                            <input type="password" placeholder="Xác nhận mật khẩu mới" name="newPasswordConfirm" id="newPasswordConfirm">
                        </div>
                    </div>
                </div>
                <input type="checkbox" onclick="showPassword()"> Xem mật khẩu
                <div class="button">
                    <input type="submit" value="Cập nhật" id="subMitSignIn">
                </div>
            </form>
        </div>
    </div>
</div>
{{#section 'js'}}
    <script>
        $('#ChangPassword').on('submit', function(e) {
            e.preventDefault()
            const passWord = $('#newPassword').val()
            const confirmPass = $('#newPasswordConfirm').val()

            if (passWord != confirmPass) {
                alert('Mật khẩu mới không khớp!');
                return;
            }else{
                $('#ChangPassword').off('submit').submit()
            }
        })

        function showPassword() {
            var x = document.getElementById("newPassword");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }

            var x = document.getElementById("oldPassword");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }

            var x = document.getElementById("newPasswordConfirm");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
{{/section}}