{{#section 'js'}}
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.js"></script>
    <script>
        $('#formRegister').on('submit', function(e){
            e.preventDefault()
            const username = $('#Username').val()
            const email = $('#Email').val()
            const passWord = $('#Password').val()
            const confirmPass = $('#ConfirmPassword').val()

            let email_check = false;
            let username_check = false;

            if(passWord != confirmPass){
                alert('Password does not match!');
                return;
            }

            $.getJSON(`/account/is_available_account?email=${email}&username=${username}`, function(data){
                if (data === true){
                    email_check = true;
                    alert('Email or Username has been used!');
                }
                else{
                    $('#formRegister').off('submit').submit()
                }
            })
        })

        function recaptcha_callback() {
            $('#subMitRegister').removeAttr('disabled');
        };
        $('[data-toggle="datepicker"]').datepicker();
        $('#Name').select();
    </script>
{{/section}}
{{#section 'css'}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.css">
    <style>
        *{
            /*margin: 0;*/
            /*padding: 0;*/
            box-sizing: border-box;
        }
        .container{
            max-width: 700px;
            width: 100%;
            background: #fff;
            padding: 25px 30px;
            border-radius: 5px;
            box-shadow: 0 5px 10px rgba(0,0,0,0.15);
        }
        .container .title{
            font-size: 25px;
            font-weight: 500;
            position: relative;
        }
        .container .title::before{
            content: '';
            postion: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 30px;
            border-radius: 5px;
            background: linear-gradient(135deg, #71b7e6, #9b59b6);
        }
        .container form .user-details{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 20px 0 12px 0;
        }
        form .user-details .input-box{
            margin-bottom: 15px;
            width: calc(90%);
        }
        .user-details .input-box span.details{
            display: block;
            font-weight: 500;
            margin-bottom: 5px;
        }
        .user-details .input-box input{
            height: 45px;
            width: 100%;
            outline: none;
            /*border: 1px solid #ccc ;*/
            padding-left: 15px;
            font-size: 16px;
            border-bottom-width: 2px;
            transition: all 0.3s ease;
            border-radius: 10px;
            color: #0b409c;
        }
        .user-details .input-box input:focus,
        .user-details .input-box input:valid{
            border-color: #9b59b6;
        }
        form .button{
            height: 45px;
            margin: 45px 0;
            padding-left: 200px;
        }
        form .button input{
            height: 100%;
            width: 50%;
            outline: none;
            color: #fff;
            border: none;
            font-size: 18px;
            font-weight: 500;
            border-radius: 5px;
            letter-spacing: 1px;
            background: linear-gradient(135deg, #71b7e6, #9b59b6);
        }
        form .button input:hover{
            background: linear-gradient(-135deg, #71b7e6, #9b59b6);
        }
        @media (max-width: 584px){
            .container{
                max-width: 100%;
            }
            form .user-details .input-box{
                margin-bottom: 15px;
                width: 100%;
            }
            .container form .user-details{
                max-height: 300px;
                overflow-y: scroll;
            }
            .user-details::-webkit-scrollbar{
                width: 0;
            }
        }
        @media only screen and (max-width: 768px){
            .padding{
                padding: 20px;
            }

            .card-title{
                text-align: center;
            }

            .margin{
                margin-top: 20px;
            }

            form .button{
                padding-left: 90px;
            }

            .margin-captcha{
                margin-left: -30px;
            }
        }
    </style>
{{/section}}
<div class="container">
    <div class="title"style="text-align: center; background: -webkit-linear-gradient(#71b7e6, #9b59b6);
  -webkit-background-clip: text; -webkit-text-fill-color: transparent; padding-bottom: 5px"> Đăng ký</div>
    <form id="formRegister" method="POST">
        <div class="user-details">
            <div class="col-md-6">
                <div class="card padding" style="align-items: center; border-color: #0b409c; border-radius: 10px;">
                    <h4 class="card-title"style="background: -webkit-linear-gradient(#71b7e6, #9b59b6);
  -webkit-background-clip: text; -webkit-text-fill-color: transparent; padding-top: 5px; padding-bottom: 10px"> Thông tin người dùng</h4>
                    <div class="input-box">
                        <span class="details">Họ tên</span>
                        <input type="text" placeholder="Nhập họ tên" name="Name" id = "Name" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Email</span>
                        <input type="email" placeholder="Nhập email" name="Email" id="Email" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Năm sinh</span>
                        <input data-toggle="datepicker" type="text" placeholder="Chọn ngày tháng năm sinh " required name="Dob">
                    </div>
                    <div class="input-box">
                        <span class="details">Địa chỉ</span>
                        <input type="text" placeholder="Nhập địa chỉ" name="Address"required>
                    </div>
                </div>
            </div>

            <div class="col-md-6 margin">
                <div class="card padding" style="align-items: center; border-color: #0b409c; border-radius: 10px;">
                    <h4 class="card-title"style="background: -webkit-linear-gradient(#71b7e6, #9b59b6);
  -webkit-background-clip: text; -webkit-text-fill-color: transparent; padding-top: 5px; padding-bottom: 10px">Thông tin tài khoản</h4>
                    <div class="input-box">
                        <span class="details">Username</span>
                        <input type="text" placeholder="Nhập username" name="Username" id="Username" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Password</span>
                        <input type="password" placeholder="Nhập mật khẩu" name="Password" id="Password" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Confirm Password</span>
                        <input type="password" placeholder="Xác nhận lại mật khẩu" id="ConfirmPassword" required>
                    </div>
                </div>
                <div style="align-items: center; padding-top: 17px" class="g-recaptcha margin-captcha" data-sitekey="6LcBnaQdAAAAAE5JVlofp-twIKK0o6d2x4AczT1L
" data-callback="recaptcha_callback"></div>
            </div>
        </div>
        <div class="button">
            <input type="submit" value="Register" disabled="disabled" id="subMitRegister">
        </div>
    </form>
</div>