<form method="POST">
    <div class="card">
        {{#if isViewEdit}}
        {{else}}
            {{#if isSuccess}}
            {{else}}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Lỗi!</strong> {{msg}}.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {{/if}}
        {{/if}}

        <h4 class="card-header">
            Thêm danh mục mới
        </h4>
        <div class="card-body">
            <div class="form-group">
                <label for="CatName">Tên danh mục</label>
                <input type="text" class="form-control" id="CatName" name="CatName" placeholder="Nhập tên danh mục mới" autofocus>
            </div>
        </div>
        <div class="card-footer text-muted">
            <a class="btn btn-success" href="/admin/categories/lv1" role="button">
                <i class="fa fa-backward" aria-hidden="true"></i>
                Quay lại
            </a>
            <button type="submit" formaction="/admin/categories/lv1/add" class="btn btn-primary">
                <i class="fa fa-check" aria-hidden="true"></i>
                Thêm mới
            </button>
        </div>
    </div>
</form>